*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,body{
    background-color: #293d79;
    background-size: cover;
    min-height:680px;
    background-repeat: no-repeat;
    height: 100%;
    
    background-position:center;
    position:relative;
}


.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        rgba(34, 100, 34, 0.4),
        rgba(58, 92, 155, 0.596));
    background-position:center;
    background-size: cover;
    position: absolute;
}

.form-box{
    height: 610px;
    width: 420px;
    position: relative;
    margin: 3% auto;
    background: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px 10px #63426bc7;
    background-image: linear-gradient(
        rgba(241, 226, 155, 0.932),
        rgba(38, 202, 60, 0.849)
    );
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #335ed381;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#tbtn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgba(42, 49, 49, 0.87), #68e0f2);
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}

.iconify{
    width: 30px;
    height:30px;
    margin: -10px 15px;
    border-radius: 10px;
}

.input-group{
    top: 140px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 8px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.check-box{
    margin: 30px 10px 20px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 45px;
    position: absolute;
}
.submit-btn{
    width: 85%;
    padding: 8px 30px;
    cursor: pointer;
    display: block;
    margin: -2px auto ;
    background: linear-gradient(to right, rgba(42, 49, 49, 0.87), #68e0f2);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#ulogin{
    left: 50px;
}
 
#usignup{
    left: 450px;
}

